.list-group-item {
    padding: 5px 15px;
}

#nav-btn {
    position: absolute;
    margin-left: 15px;
   // margin-top: 15px;
}

#nav-item {
    position: absolute;
    margin-left: 55px;
    //margin-top: 15px;
}
body>pre{
    margin-top: 15px;
}