.block {
    border: 1px lightgrey solid;
    padding: 5px;
}

.border {
    border: 1px lightgrey solid;
}

.append-span {
    height: 34px;
    line-height: 34px;
    float:left;
}

.form-group>.btn {
    float:left;
}

.form-group>i.fa-close {
    font-size: 22px;
    background-color: #eee;
    cursor: pointer;
}
